name: darehana

on:
  # 手動実行
  workflow_dispatch:
  # 定期実行（月-木 16:00+0900）
  schedule:
    - cron: '0 7 * * 1-4'

env:
  TZ: 'Asia/Tokyo'

jobs:
  execute:
    # イメージ
    runs-on: ubuntu-latest

    steps:
      # ロギング
      - name: Print date
        run: |
          echo `date '+%Y%m%d'`

      # チェックアウト
      - name: Checkout
        uses: actions/checkout@v2

      # ダウンロード
      - name: Download file
        run: |
          Y=`date '+%Y'`
          M=`date '+%m'`
          D=`date '+%d'`
          mkdir -p ./${Y}/${M}/
          cd ./${Y}/${M}/
          rm -f ${Y}${M}${D}.xml
          if curl "http://radiko.jp/v3/program/date/${Y}${M}${D}/JP13.xml" | grep darehana > /dev/null; then
          curl "https://radiko.jp/v2/api/noa?station_id=FMT&ft=${Y}${M}${D}130000&to=${Y}${M}${D}145500" -o ${Y}${M}${D}.xml
          fi

      # プッシュ
      - name: Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add -A
          git commit -m "Scheduled action"
          git push origin HEAD:main
